*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    border: 1px solid red;
    height: 500px;
    width: 500px;
    margin: 60px auto 15px;
}

.miniSquare {
    border: 1px solid black;
}

.newGame {
    display: block;
    width: 50px;
    margin: auto;
}
